# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/lum-decoder/v15/.suo
.vs/lum-decoder/v15/Browse.VC.db
.vs/lum-decoder/v15/Browse.VC.opendb
.vs/lum-decoder/v15/ipch/22103504a6f84df0.ipch
.vs/lum-decoder/v15/Solution.VC.db
Debug/lum-decoder.Build.CppClean.log
Debug/lum-decoder.log
Debug/lum-decoder.tlog/CL.command.1.tlog
Debug/lum-decoder.tlog/CL.read.1.tlog
Debug/lum-decoder.tlog/CL.write.1.tlog
Debug/lum-decoder.tlog/link.command.1.tlog
Debug/lum-decoder.tlog/link.read.1.tlog
Debug/lum-decoder.tlog/link.write.1.tlog
Debug/lum-decoder.tlog/lum-decoder.lastbuildstate
Debug/lum-decoder.tlog/rc.command.1.tlog
Debug/lum-decoder.tlog/rc.read.1.tlog
Debug/lum-decoder.tlog/rc.write.1.tlog
Debug/process.obj.enc
Debug/WindowsDecoder.log
Debug/WindowsDecoder.res
Debug/WindowsDecoder.tlog/CL.command.1.tlog
Debug/WindowsDecoder.tlog/CL.read.1.tlog
Debug/WindowsDecoder.tlog/CL.write.1.tlog
Debug/WindowsDecoder.tlog/link.command.1.tlog
Debug/WindowsDecoder.tlog/link.read.1.tlog
Debug/WindowsDecoder.tlog/link.write.1.tlog
Debug/WindowsDecoder.tlog/rc.command.1.tlog
Debug/WindowsDecoder.tlog/rc.read.1.tlog
Debug/WindowsDecoder.tlog/rc.write.1.tlog
Debug/WindowsDecoder.tlog/WindowsDecoder.lastbuildstate
Release/lum-decoder.iobj
Release/lum-decoder.ipdb
Release/lum-decoder.log
Release/lum-decoder.tlog/CL.command.1.tlog
Release/lum-decoder.tlog/CL.read.1.tlog
Release/lum-decoder.tlog/CL.write.1.tlog
Release/lum-decoder.tlog/link.command.1.tlog
Release/lum-decoder.tlog/link.read.1.tlog
Release/lum-decoder.tlog/link.write.1.tlog
Release/lum-decoder.tlog/lum-decoder.lastbuildstate
Release/lum-decoder.tlog/lum-decoder.write.1u.tlog
Release/lum-decoder.tlog/rc.command.1.tlog
Release/lum-decoder.tlog/rc.read.1.tlog
Release/lum-decoder.tlog/rc.write.1.tlog
Release/WindowsDecoder.res
Temp/temp_2019_1_14_13_45_14
Temp/temp_2019_1_14_14_0_661.raw
Temp/temp_2019_1_14_14_13_802.raw
Temp/temp_2019_1_14_14_16_753.raw
Temp/temp_2019_1_14_14_1_920.raw
Temp/temp_2019_1_14_14_21_641.raw
Temp/temp_2019_1_14_14_45_727.raw
Temp/temp_2019_1_14_14_8_960.raw
Temp/temp_2019_1_14_15_6_772.raw
x64/Debug/lum-decoder.log
x64/Debug/lum-decoder.tlog/CL.command.1.tlog
x64/Debug/lum-decoder.tlog/CL.read.1.tlog
x64/Debug/lum-decoder.tlog/CL.write.1.tlog
x64/Debug/lum-decoder.tlog/link.command.1.tlog
x64/Debug/lum-decoder.tlog/link.read.1.tlog
x64/Debug/lum-decoder.tlog/link.write.1.tlog
x64/Debug/lum-decoder.tlog/lum-decoder.lastbuildstate
x64/Debug/lum-decoder.tlog/rc.command.1.tlog
x64/Debug/lum-decoder.tlog/rc.read.1.tlog
x64/Debug/lum-decoder.tlog/rc.write.1.tlog
x64/Debug/WindowsDecoder.res
x64/Release/lum-decoder.iobj
x64/Release/lum-decoder.ipdb
x64/Release/lum-decoder.log
x64/Release/lum-decoder.tlog/CL.command.1.tlog
x64/Release/lum-decoder.tlog/CL.read.1.tlog
x64/Release/lum-decoder.tlog/CL.write.1.tlog
x64/Release/lum-decoder.tlog/link.command.1.tlog
x64/Release/lum-decoder.tlog/link.read.1.tlog
x64/Release/lum-decoder.tlog/link.write.1.tlog
x64/Release/lum-decoder.tlog/lum-decoder.lastbuildstate
x64/Release/lum-decoder.tlog/lum-decoder.write.1u.tlog
x64/Release/lum-decoder.tlog/rc.command.1.tlog
x64/Release/lum-decoder.tlog/rc.read.1.tlog
x64/Release/lum-decoder.tlog/rc.write.1.tlog
x64/Release/WindowsDecoder.res
.vs/lum-decoder/v15/ipch/db67e61ced7dc12d.ipch
.vs/lum-decoder/v15/ipch/9b3bb0fbf9f7c1a0.ipch
x64/Release/lum-decoder.Build.CppClean.log
